<div *ngIf="filterNews(news | async) as news" class="mt-3" id="news">
  <h4 class="display-5">{{title}}</h4>
  <!-- With pagination -->
  <div *ngIf="usePagination">
    <a *ngFor="let article of news | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize"
       class="news-block d-inline-block mb-3" href="{{article.url}}">
      <hr class="mt-0">
      <div class="d-flex">
        <div class="news-thumbnail text-center">
          <img alt="{{article.headline}}" src="{{article.image}}">
        </div>
        <div class="ml-3">
          <h5>{{article.headline}}</h5>
          <p class="article-summary">{{article.summary}}</p>
          <p class="source"><small>{{article.source}} <strong>&middot;</strong> {{getAge(article.datetime)}}</small></p>
        </div>
      </div>
    </a>
  </div>
  <!-- Without pagination -->
  <div *ngIf="!usePagination">
    <a *ngFor="let article of news"
       class="news-block d-inline-block mb-3" href="{{article.url}}">
      <hr class="mt-0">
      <div class="news-thumbnail float-left text-center pr-3">
        <img alt="{{article.headline}}" src="{{article.image}}">
      </div>
      <div>
        <h5>({{article.source}}) {{article.headline}}</h5>
        <p class="article-summary">{{article.summary}}</p>
      </div>
    </a>
  </div>

  <ngb-pagination *ngIf="usePagination" [(page)]="page"
                  [boundaryLinks]="true"
                  [collectionSize]="news.length"
                  [maxSize]="maxSize"
                  [pageSize]="pageSize"
                  [rotate]="true"
                  class="mt-2 d-flex justify-content-center">
  </ngb-pagination>
</div>
