.news-block {
  color: initial;
  width: 100%;

  &:hover {
    color: initial;
    cursor: pointer;
  }

  .news-thumbnail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    img {
      object-fit: contain;
      width: 220px;
      height: 123px;
    }
  }

  .article-summary {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
