<div class="row pt-2">
  <!-- Analyst ratings -->
  <div *ngIf="recommendation$ | async as recommendation" class="col">
    <h3>Rating:
      <span class="badge badge-{{getRecommendationColor(getMajorityRecommendation(recommendation))}}">
        {{getMajorityRecommendation(recommendation)}}
      </span>
    </h3>
    <div class="exchange">
      <p class="mb-0"><strong>Strong Buy:</strong> {{recommendation?.strongBuy}}</p>
      <p class="mb-0"><strong>Buy:</strong> {{recommendation?.buy}}</p>
      <p class="mb-0"><strong>Hold:</strong> {{recommendation?.hold}}</p>
      <p class="mb-0"><strong>Sell:</strong> {{recommendation?.sell}}</p>
      <p class="mb-0"><strong>Strong Sell:</strong> {{recommendation?.strongSell}}</p>
    </div>
  </div>
  <!-- Price targets -->
  <div *ngIf="priceTarget$ | async as priceTarget" class="col">
    <h3 *ngIf="quote$ | async as quote">
      Price Target:
      <span class="badge badge-{{getTargetColor(priceTarget.targetMedian, quote.c)}}">
        {{priceTarget.targetMedian}}
      </span>
    </h3>
    <div class="exchange">
      <p class="mb-0"><strong>High:</strong> {{priceTarget.targetHigh}}</p>
      <p class="mb-0"><strong>Average:</strong> {{priceTarget.targetMean}}</p>
      <p class="mb-0"><strong>Median:</strong> {{priceTarget.targetMedian}}</p>
      <p class="mb-0"><strong>Low:</strong> {{priceTarget.targetLow}}</p>
    </div>
  </div>
  <!-- News sentiment -->
  <div *ngIf="newsSentiment$ | async as newsSentiment" class="col">
    <h3
      *ngIf="{value: getSentiment(newsSentiment.companyNewsScore, newsSentiment.sectorAverageNewsScore, newsSentiment.sentiment.bullishPercent)} as sentiment">
      Sentiment:
      <span class="badge badge-{{getSentimentColor(sentiment.value)}}">
        {{getSentimentString(sentiment.value)}}
      </span>
    </h3>
    <div class="exchange">
      <p class="mb-0"><strong>{{symbol}} Score:</strong> {{newsSentiment.companyNewsScore | percent}}</p>
      <p class="mb-0"><strong>Sector Average:</strong> {{newsSentiment.sectorAverageNewsScore | percent}}</p>
      <p class="mb-0"><strong>Bullish:</strong> {{newsSentiment.sentiment.bullishPercent | percent}}</p>
      <p class="mb-0"><strong>Bearish:</strong> {{newsSentiment.sentiment.bearishPercent | percent}}</p>
    </div>
  </div>
</div>
