@use "../../../colors";

.stock-header {
  background-image: linear-gradient(-41deg, darken(colors.$accent, 10%) 0%, lighten(colors.$accent, 10%) 100%);

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    h1.exchange-h {
      color: #fff;
      font-weight: 300;
    }

    .exchange {
      color: transparentize(#fff, 0.25);
      font-weight: 500;
      position: absolute;
      cursor: pointer;
    }

    .price {
      font-weight: 500;
      color: transparentize(#fff, 0.25);
    }

    .price-changes {
      color: transparentize(#fff, 0.25);
      font-weight: 500;
    }
  }
}
