<div *ngIf="profile$ | async as profile" class="summary row">
  <!-- Stock chart using TradingView -->
  <div *ngIf="quote$ | async as quote" class="col chart">
    <app-symbol-overview exchange="{{profile.exchange}}" name="{{profile.name}}"
                         period="1D" red="{{getChange(quote.close, quote.previousClose) < 0}}" symbol="{{symbol}}">
    </app-symbol-overview>
  </div>

  <!-- Company information -->
  <div class="col-4">
    <h5>About {{profile.name}}</h5>
    <p>
      <a href="{{profile.webUrl}}">{{profile.webUrl}}</a><br>
      <strong>Sector:</strong> {{profile.sector}}<br>
      <strong>Industry:</strong> {{profile.industry}}<br>
      <strong>Employees:</strong> {{profile.fullTimeEmployees | number}}
    </p>
    <p #read class="read read-less mb-1">{{profile.description}}</p>
    <a #readMore (click)="onReadMore(read, readMore)" class="read-more text-center d-block">Read more</a>
  </div>
</div>
