<main class="container">
  <app-ticker-tape></app-ticker-tape>

  <!-- Adviser -->
  <div class="jumbotron jumbotron-fluid p-4 mb-3">
    <div class="container">
      <h2 class="h2 text-center">Need ideas? <a [routerLink]="['adviser']">Get investing advice.</a></h2>
      <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, quidem enim id animi, quod sunt quis beatae alias libero.</p>
    </div>
  </div>

  <!-- Market summary -->
  <div class="row">
    <app-mini-chart symbol="FOREXCOM:SPXUSD" class="col"></app-mini-chart>
    <app-mini-chart symbol="FOREXCOM:NSXUSD" class="col"></app-mini-chart>
    <app-mini-chart symbol="FOREXCOM:DJI" class="col"></app-mini-chart>
    <app-mini-chart symbol="IWM" class="col"></app-mini-chart>
    <app-mini-chart symbol="BITSTAMP:BTCUSD" class="col"></app-mini-chart>
  </div>

  <app-news-feed [news]="marketNews" title="Market News"></app-news-feed>
</main>
