@use "../../colors";

a {
  &:hover {
    cursor: pointer;
  }
}

#userDropdown {
  color: #aaa;
}

.btn-outline-secondary {
  border-color: colors.$accent;
  color: colors.$accent;

  &:hover, &:active, &:focus {
    background: none !important;
    border-color: colors.$accent-hover;
    color: colors.$accent-hover !important;
    box-shadow: inset 0 0 2px colors.$accent;
  }
}
