<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container d-flex">
      <a class="navbar-brand" [routerLink]="['/']">
        <span class="logo-green">Investing</span><span class="logo-brown">Oak</span>
      </a>

      <div class="d-inline-block flex-grow-1 search-block">
        <input class="form-control flex-fill" type="text" placeholder="Search for a symbol or company"
               aria-label="Search" (input)="suggest(searchBar.value)" (click)="showSuggestions = true" (blur)="showSuggestions = false" #searchBar>
        <ul *ngIf="showSuggestions && suggestions.length" class="search-suggestions nav">
          <li *ngFor="let s of suggestions" class="nav-item">
            <a class="nav-link" (mousedown)="router.navigate(['symbol', s.symbol]); searchBar.value = ''">
              {{s.displaySymbol}}: {{s.description}}
            </a>
          </li>
        </ul>
      </div>

      <app-user-menu></app-user-menu>

      <app-theme-selector class="pl-2"></app-theme-selector>
    </div>

    <div class="container">
      <ul class="nav justify-content-start">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['adviser']">Adviser</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['screener']">Screener</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['watchlist']">Watchlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['paper']">Paper Trading</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
